@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');



/* Global Styles*/
:root {
    --headings-color:#8AA899;
    --text-color: #5C6E58;
    --text2-color: #F2D349;
    --link-color: #3a3a3a;
    --hlink-color: orangered;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/images/bkg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    scroll-behavior: smooth;    
    
}




/* Typograph*/

p {
    color:var(--text-color)
}

h1 h2 h3 {
    color:var(--headings-color)
}






/* Main Layout and Navigation*/


header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2rem; 
    padding: 1rem 0; 
    background-color: rgba(255,255,255,0.5);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap:3%;
    padding-bottom: 30px;
    margin-top: 5%;
}

article {
    width: calc(33% - 20px);
    height: max-content;
    margin: 0 10px;
    background-color: rgba(255,255,255,0.5);
}

article img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    padding: 10px;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: rgba(255,255,255,0.5);
    margin-top: auto;
}



/*  Navigation */
nav {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

nav li a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    color: var(--link-color);
}

nav a:hover {
    text-decoration: underline;
    color: var(--hlink-color);
    transition: ease-in-out 45ms;
}

nav a:active {
    transform: scale(1.7);
    transition: transform 200ms;
}


/* Components */

#hero-button {
    margin: 5% auto 20% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}


dialog:not([open]) {
    display: none;
}

#hero-button button {
    border: none;
    border-radius: 15px;
    padding:5px;
    width: 10rem;
    height: auto;
    background-color: var(--text2-color);
    color: var(--link-color);
}
#hero-button button:hover {
    color: var(--hlink-color);
}

#hero-button button:active {
    transform: scale(1.7);
    transition: transform 200ms;
}  

dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 10rem;
    background-color: rgba(58, 58, 58,0.3);
    border: none;
    border-radius: 12px;
    padding:10px;
}



#social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    gap:2%;
}

i{
    font-size: 1.5rem;
}
i:hover {
    color: var(--hlink-color);
}
i:active {
        font-size: 1.9rem;
        transform: scale(1.9);
        transition: transform 200ms;
}


/* @ Media */

@media (375px => width => 667px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hero-button {
        margin: 5% auto 20% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;  
    }
    
  }