@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');



/* Global Styles*/

:root {

/* link colors */
    --link-color: #3a3a3a;
    --moblink-color:#FFFFFF;
    --hlink-color: orangered;

/* Headings and text */
    --headings-color:#8AA899;
    --text-color: #5C6E58;
    --text2-color: #F2D349;

/* mobile menu */
    --mobkg-color:rgba(92, 110, 88);
    --mobtext-color:#FFFFFF;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/images/bkg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;    
    display: flex;
    flex-direction: column;
}


/* Typograph*/
p {
    color:var(--text-color)
}

h1 h2 h3 {
    color: var(--headings-color);
}



/* Main Layout and Navigation*/


header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem; 
    padding: 1rem; 
    background-color: rgba(255,255,255,0.5);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    flex-grow: 1;
    
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap:3%;    
    margin-top: 2%;
}

article {
    width: calc(33% - 2px);
    height: max-content;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}

article img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    padding: 10px;
    z-index: 1000;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: rgba(255,255,255,0.5);
    margin-top: auto;
   
}



/*  Navigation */
nav {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

nav li a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    color: var(--link-color);
}

nav a:hover {
    text-decoration: underline;
    color: var(--hlink-color);
    transition: ease-in-out 45ms;
}

nav a:active {
    transform: scale(1.7);
    transition: transform 200ms;
}


/* Components */

#hidden {
    display: none;
}


#hero-button {
    margin: 5% auto 7% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}


dialog:not([open]) {
    display: none;
}

#hero-button button {
    border: none;
    border-radius: 15px;
    padding:5px;
    width: 10rem;
    height: auto;
    background-color: var(--text2-color);
    color: var(--link-color);
}
#hero-button button:hover {
    color: var(--hlink-color);
}

#hero-button button:active {
    transform: scale(1.7);
    transition: transform 200ms;
}  

dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 10rem;
    background-color: rgba(58, 58, 58,0.3);
    border: none;
    border-radius: 12px;
    padding:10px;
}

/* Footer Social media icons */

#social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    gap:2%;
}

i{
    font-size: 1.5rem;
}

i:hover {
    color: var(--hlink-color);
}

i:active {
        font-size: 1.9rem;
        transform: scale(1.9);
        transition: transform 200ms;
}


/* @media */


@media (min-width:667px) and(max-width:1024px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
        flex-grow: 1;
    }
    
    section {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 3%;
        margin-top: 2%;
    }
    
    article {
        width: calc(33% - 2px);
        height: max-content;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    
    article img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        padding: 10px;
        z-index: 1000;
    }

    #hero-button {
        margin: 10% auto 4% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;  
    }
    
    
    dialog:not([open]) {
        display: none;
    }
    
    #hero-button button {
        border: none;
        border-radius: 15px;
        padding:5px;
        width: 10rem;
        height: auto;
        background-color: var(--text2-color);
        color: var(--link-color);
    }
    #hero-button button:hover {
        color: var(--hlink-color);
    }
    
    #hero-button button:active {
        transform: scale(1.7);
        transition: transform 200ms;
    }  
    
    dialog {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8%;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        height: 10rem;
        background-color: rgba(58, 58, 58,0.3);
        border: none;
        border-radius: 12px;
        padding:10px;
    }
        
}

@media (min-width: 325px) and (max-width: 667px) {
    
    /* Main Layout */
    
header {
        display: flex;
        justify-content: right;
        position: fixed;
        
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    flex-grow: 1;
    margin: 2% auto;
    text-align: center;

}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:3%;    
    margin-top: 2%;
    text-align: center;
}

article {
width: calc(75% - 2px);
height: min-content;
background-color: rgba(255,255,255,0.5);
text-align: center;
margin-top: 1%;
}

article img {
width: 100%;
height: 15rem;
object-fit: cover;
padding: 10px;
z-index: 1000;
}

/* Navigation */
nav {
display: none;
      
}
#hidden {
    display: block;
}

.mobile {
    position: relative;
    display: inline-block;
}

.fa-solid.fa-bars {
    cursor: pointer;
    font-size: 1.5rem;
}

#dropdown-content {
    display: none;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    right: 10%;
    width:fit-content;
    height: max-content;
    transform: translateX(-10%);
    background-color: var(--mobkg-color);
    color: var(--moblink-color);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    
  
}
#dropdown-content nav {
    color: var(--moblink-color);
    text-decoration: none;
    display: block;
    text-align: center;
    
    
}

#dropdown-content a:hover {
    color:var(--hlink-color);
}




/* Components */

#hero-button {
    margin: 5% auto 7% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}


dialog:not([open]) {
    display: none;
}
#hero-button {
    margin-top: 10%;
    margin-bottom: 50%;
}


#hero-button button {
    border: none;
    border-radius: 15px;
    padding:5px;
    width: 10rem;
    height: auto;
    background-color: var(--text2-color);
    color: var(--link-color);
}
#hero-button button:hover {
    color: var(--hlink-color);
}

#hero-button button:active {
    transform: scale(1.7);
    transition: transform 200ms;
}  

dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 10rem;
    background-color: rgba(58, 58, 58,0.3);
    border: none;
    border-radius: 12px;
    padding:10px;

}

}




