@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');




/* Global Styles*/
:root {
    --headings-color:#8AA899;
    --text-color: #5C6E58;
    --text2-color: #F2D349;
    --link-color: #3a3a3a;
    --hlink-color: orangered;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/images/bkg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;    
}


/* Typograph*/

p {
    color:var(--text-color)
}

h1 h2 h3 {
    color:var(--headings-color)
}




/* Main Layout and Navigation*/
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto; 
    padding: 1rem 0; 
    background-color: rgba(255,255,255,0.5);
}
main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

section {
display: flex;
flex-direction: row;
}

article {
display: flex;
}



nav {
    display: flex;
    align-items: center;
    text-align: center;
}

nav ul li {
    display: inline-block;    
    margin-left: 1%;   
}

nav li a {
    display: inline-block;    
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    color: var(--link-color);
    
}

nav {
    display: flex;
    margin-right: 2rem;
    
}
 
nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
   
}
 
nav a;:hover {
    display: block;
    transition: ease-in-out 9ms;
    text-decoration: underline;
    color: var(--hlink-color);
}  


/* Components */

/* @ Media */

